#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: aliceblue;
}

@media ( prefers-color-scheme: dark){
  body {
    background-color: #1f1f20;
  }
}





